@{
    Page.Title = "MegaDesk ASP.NET Web";
    Layout = "~/_Layout.cshtml";
    
    // Specify validation requirements for different fields.
    Validation.RequireField("Customer", "Customer name is required");
    Validation.RequireField("Width", "Width is required");
    Validation.RequireField("Depth", "Depth is required");
    Validation.RequireField("Drawers", "Drawers quantity is required");
    Validation.RequireField("Rushorder", "Rush order is required");
    Validation.RequireField("Material", "Material is required");
    Validation.Add("Width", Validator.Integer("Width must be an integer"));
    Validation.Add("Width", Validator.Range(24, 96, "Width must be between 24 and 96 Inches"));
    Validation.Add("Depth", Validator.Integer("Depth must be an integer"));
    Validation.Add("Depth", Validator.Range(24, 96, "Depth must be between 12 and 48 Inches"));
    
    if (IsPost)
    {
        // Before processing anything, make sure that all user input is valid.
        if (Validation.IsValid())
        {
            var customer = Request["customer"];
            var width = Request["width"].AsInt();
            var depth = Request["depth"].AsInt();
            var drawers = Request["drawers"].AsInt();
            var rushorder = Request["rushorder"].AsInt();
            var material = Request["material"];
            var date = DateTime.Today.ToString("MM/dd/yyyy");

            //Calculate new desk quote price
            var newQuote = new MegaDesk_ASP_NET_Web.DeskQuote(width, depth, drawers, material, rushorder);
            var amount = newQuote.DeskQuoteCalculate();
                        
            // Further processing here
            var db = Database.Open("WebPagesMegadesk");
            var insertCommand = "INSERT INTO MegadeskTable (Customer, Date, Width, Depth, Drawers, Material, Rushorder, Amount) VALUES(@0, @1, @2, @3, @4, @5, @6, @7)";
            db.Execute(insertCommand, customer, date, width, depth, drawers, material, rushorder, amount);
            Response.Redirect("~/ViewQuotes.cshtml");
        }
    }
}
    <h2>Add Quote</h2>
        <form method="post">
            <fieldset>
                <legend>Informations for a new Desk Quote</legend>
                <p>
                    <label for="customer">Customer name: </label>
                    <input type="text"
                           name="customer"
                           value="@Request["customer"]" />
                    @Html.ValidationMessage("customer")
                </p>
                
                <p>
                    <label for="width">Width: </label>
                    <input type="text"
                           name="width"
                           value="@Request["width"]" />
                    @Html.ValidationMessage("width")
                </p>

                <p>
                    <label for="depth">Depth: </label>
                    <input type="text"
                           name="depth"
                           value="@Request["depth"]" />
                    @Html.ValidationMessage("depth")
                </p>

                <p>
                    <label for="drawers">Drawers:</label>
                    <select name="drawers">
                        @Request.Form["rushDays"]
                        <option selected>1</option>
                        @for (int i = 2; i <= 10; i++) {
                        <option>@i</option>
                        }
                    </select>
                </p>
                <p>
                <label>Rush Order Days:</label>
                <select name="rushorder">@Request.Form["rushorder"]
                    <option selected>0</option>
                    <option>3</option>
                    <option>5</option>
                    <option>7</option>
                </select>                   
                </p>
                @*@Request.Form["rushorder"]*@
                <p>
                    <label for="material">Material:</label>
                    <select name="material">
                        @Request.Form["material"]
                    <option selected>Oak</option>
                    <option>Pine</option>
                    <option>Veneer</option>
                    <option>Laminate</option>
                    <option>Rossewood</option>
                    
                </select>
            </p>
                <p>
                    <input type="submit" name="buttonSubmit" value="Add Quote" />
                </p>
       </fieldset>
</form>
<p class="last_paragraph">
    <a href="~/ViewQuotes.cshtml">Return to List Quotes</a><br />
    <a href="~/Megadesk.cshtml">Return to Main Menu</a>
</p>



