@{
    Page.Title = "MegaDesk ASP.NET Web";
    Layout = "~/_Layout.cshtml";

    var customer = "";
    int width = 0;
    int depth = 0;
    int drawers = 0;
    int rushorder = 0;
    var material = "";
    double amount = 0;
    var date = "";

    var deskQuoteId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            deskQuoteId = Request.QueryString["ID"];
            var db = Database.Open("WebPagesMegadesk");
            var dbCommand = "SELECT * FROM MegadeskTable WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, deskQuoteId);

            if (row != null)
            {
                customer = row.Customer;
                date = row.Date;
                width = row.Width;
                depth = row.Depth;
                drawers = row.Drawers;
                material = row.Material;
                rushorder = row.Rushorder;
                amount = row.Amount;

            }
            else
            {
                Validation.AddFormError("No Desk Quote was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No Desk Quote was selected.");
        }
    }

    if (IsPost)
    {
        Validation.RequireField("customer", "You must enter a customer name");
        Validation.RequireField("width", "You must enter a width value");
        Validation.RequireField("depth", "You must enter a depth value");
        Validation.RequireField("drawers", "Drawers quantity is required");
        Validation.RequireField("material", "Material surface is required");
        Validation.RequireField("rushorder", "Rush days is required");
        Validation.RequireField("date", "You haven't entered a date");
        //Validation.RequireField("desquoteid", "No Desk Quote ID was submitted!");

        deskQuoteId = Request.Form["deskQuoteId"];
        customer = Request.Form["customer"];
        date = DateTime.Today.ToString("MM/dd/yyyy");
        width = Request.Form["width"].AsInt();
        depth = Request.Form["depth"].AsInt();
        drawers = Request.Form["drawers"].AsInt();
        rushorder = Request.Form["rushorder"].AsInt();
        material = Request.Form["material"];
        
        //Calculate new desk quote price
        var newQuote = new MegaDesk_ASP_NET_Web.DeskQuote(width, depth, drawers, material, rushorder);
        amount = newQuote.DeskQuoteCalculate();

        if (Validation.IsValid())
        {
            var db = Database.Open("WebPagesMegadesk");
            var updateCommand = "UPDATE MegadeskTable SET Customer=@0, Date=@1, Width=@2, Depth=@3, Drawers=@4, Material=@5, Rushorder=@6, Amount=@7 WHERE ID=@8";
            db.Execute(updateCommand, customer, date, width, depth, drawers, material, rushorder, amount, deskQuoteId);
            Response.Redirect("~/ViewQuotes.cshtml");
        }
    }
}

<h2>Edit Desk Quote</h2>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>Desk Quote Information</legend>
        <p>
            <label for="customer">Customer Name:</label>
            <input type="text" name="customer" value="@customer" />
        </p>

        <p>
            <label for="date">Date:</label>
            <input type="text" name="date" value="@date" />
        </p>

        <p>
            <label for="width">Width:</label>
            <input type="text" name="width" value="@width" />
        </p>

        <p>
            <label for="depth">Depth:</label>
            <input type="text" name="depth" value="@depth" />
        </p>

        <p>

            <label for="drawers">Drawers:</label>
            <select name="drawers">
                @Request.Form["drawers"]
                <option selected>@drawers</option>
                @for (int i = 1; i <= 10; i++)
                {
                    <option>@i</option>
                }
            </select>
        </p>
        <p>

            <label for="material">Material:</label>
            <select name="material">
                @Request.Form["material"]
                <option selected>@material</option>
                <option>Oak</option>
                <option>Pine</option>
                <option>Veneer</option>
                <option>Laminate</option>
                <option>Rossewood</option>
            </select>
        </p>

        <p>
            <label>Rush Order Days:</label>
            <select name="rushorder">
                @Request.Form["rushorder"]
            <option selected>@rushorder</option>
            <option>0</option>
            <option>3</option>
            <option>5</option>
            <option>7</option>
        </select>     
        </p>

        <p>
            <label for="amount">Amount:</label>
            <input type="text" name="amount" value="@amount" readonly/>
        </p>
        
        <input type="hidden" name="deskquoteid" value="@deskQuoteId" />
        <p><input type="submit" name="buttonSubmit" value="Submit Changes" /></p>
    </fieldset>
</form>
<p><a href="~/ViewQuotes.cshtml">Return to List Quotes</a></p>
<p><a href="~/Megadesk.cshtml">Return to Main Menu</a></p>
